[submodule "lib/mymalloc"]
	path = lib/mymalloc
	url = git@github.com:fededc88/mymalloc.git
[submodule "lib/circular_buffer"]
	path = lib/circular_buffer
	url = git@github.com:fededc88/circular_buffer.git
